body {
  background-color: #493d57;
}

.single-recipe-detail {
  margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 400px);  }

  .recipe-name {
    grid-column: 1 / 4;
    grid-row: 1;
    color: #F6BC00;
  }

  .ingredients-list {
    grid-column: 3 ;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);
    border-radius: 5px;
    color: #F6BC00;
}
  .recipe-details-img {
    grid-column: 1 / 2 ;
    grid-row: 2 / 3 ;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);
    border-radius: 5px;
  }
  .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 4;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);
    border-radius: 5px;
    color: #F6BC00;
  }

  .add-btn {
    grid-column: 1;
    grid-row: 4;
    display: inline-block;
    outline: 0;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    color: #e3b341;
    cursor: pointer;
    background-color: #493d57;
    border: 2px solid #e3b341;
    border-radius: 3px;
    padding: 16px 18px 15px;
    white-space: nowrap;
  }

.recipe-details-img {
  width: 800px;
  height: auto;
}
