.navbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 75%;
    height: 150px;
    color: #f7a278;
    margin-bottom: 50px;
    margin-top: 15px;
}

a {
  font-family: 'Amita', cursive;
  color: #f7a278;
  text-decoration: none;
  font-size: 75px;
}
